html {
  scroll-snap-type: y mandatory;
}

.App {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  max-width: 100%;
  background-color: #333;
}

.app_videos {
  height: 100vh;
  max-height: 780px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  align-self: center;
  border-radius: 10px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app_videos::-webkit-scrollbar {
  display: none;
}

.menuLeft {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 20px;
  justify-content: center;
  height: 100vh;
  max-height: 780px;
}

.menuLeft_logo {
  display: block;
  width: 160px;
  filter: invert(1);
  cursor: pointer;
}

.menuLeft_items {
  color: #ffffff;
}

.menuLeft_items li {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

.menuLeft_items li:hover {
  color: #fe6986;
}

.menuLeft_home {
  color: #fe2c55;
}

.menuLeft_sugestions h3 {
  margin-bottom: 5px;
  color: #ddd;
  font-size: 0.8rem;
}

/* Responsivo */
@media only screen and (max-width: 440px) {
  .app_videos {
    width: 100%;
    height: 100%;
    max-height: initial;
    overflow: hidden;
  }
}
